[submodule "modules/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw.git
[submodule "external/assimp"]
	path = external/assimp
	url = https://github.com/assimp/assimp
[submodule "external/cimgui"]
	path = external/cimgui
	url = https://github.com/cimgui/cimgui
